html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
*:before,
*:after {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  height: 100%;
}
body {
  position: relative;
  height: 100%;
  overflow: hidden;
}
#backgroundText {
  position: absolute;
  font-family: "Lucida Console", Monaco, monospace;
  letter-spacing: -1px;
  color: #4d4d4d;
  font-weight: 900;
  background-color: black;
  text-align: justify;
  height: 100%;
  width: 100%;
  overflow: hidden;
  mix-blend-mode: multiply;
  user-select: none;
  top: 0;
  left: 0;
}
canvas {
  width: 100%;
  height: 100%;
  z-index: -1000;
}
.container {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1000;
}
.header {
  width: 100%;
  height: 100px;
  margin-top: 50px;
  background-color: #E8E8E8;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.header h1 {
  font-size: 4rem;
  font-family: "Lucida Console", Monaco, monospace;
  letter-spacing: -0.3rem;
  font-weight: 700;
}
.header h2 {
  font-size: 1.5rem;
  font-family: "Source Sans Pro", sans-serif;
  padding: 0 10px;
}
@media (min-width: 700px) {
  .header h2 {
    font-size: 2rem;
  }
}
@media (min-width: 550px) {
  .header {
    width: 65%;
    max-width: 600px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
  }
}
nav {
  width: 100%;
  max-width: 600px;
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #191919;
}
nav .nav-link {
  cursor: pointer;
  font-size: 2rem;
  font-family: "Source Sans Pro", sans-serif;
  text-align: center;
  width: 33%;
  background-color: #E8E8E8;
  padding: 10px 0;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
@media (min-width: 550px) {
  nav .nav-link {
    font-size: 2.5rem;
    font-weight: 600;
    width: 50px;
    height: 150px;
    margin: 10px 0 0;
    padding: 20px 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 0;
    display: flex;
    justify-content: flex-end;
    user-select: none;
    transition: width 0.25s ease-out;
  }
  nav .nav-link .rotate {
    text-align: center;
    writing-mode: vertical-lr;
  }
  nav .nav-link:hover {
    width: 75px;
    transition: width 0.25s ease-out;
  }
}
@media (min-width: 550px) {
  nav {
    border-top: none;
    flex-direction: column;
    justify-content: flex-start;
  }
}
