html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
*:before,
*:after {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  height: 100%;
}
body {
  position: relative;
  height: 100%;
  margin: 0 auto;
  overflow: hidden;
}
#backgroundText {
  position: absolute;
  font-family: "Lucida Console", Monaco, monospace;
  letter-spacing: -1px;
  color: #4d4d4d;
  font-weight: 900;
  background-color: black;
  text-align: justify;
  height: 100%;
  width: 100%;
  overflow: hidden;
  mix-blend-mode: multiply;
  user-select: none;
  top: 0;
  left: 0;
}
canvas {
  width: 100%;
  height: 100%;
  z-index: -1000;
}
.container {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1000;
  overflow: auto;
  display: flex;
  flex-direction: column;
}
h2 {
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 3rem;
  font-weight: 600;
  margin-bottom: 10px;
}
h3 {
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 2.5rem;
  font-weight: 600;
  margin-bottom: 10px;
  text-align: center;
}
p {
  text-align: center;
  font-size: 1.6rem;
  line-height: 1.3;
}
button {
  cursor: pointer;
  height: auto;
  background: #191919;
  color: #E8E8E8;
  border: 1px solid #191919;
  font-family: "Lucida Console", Monaco, monospace;
  border-radius: 5px;
  padding: 5px 10px;
  font-size: 1.6rem;
  margin: 30px 0;
}
button:focus {
  outline: 0;
}
a {
  color: #bababa;
  text-decoration: none;
  font-weight: bold;
  transition: all 0.25s ease;
}
a:hover {
  color: #686868;
  text-decoration: underline;
}
.header {
  width: 100%;
  height: 100px;
  background-color: #E8E8E8;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  user-select: none;
}
.header h1 {
  margin-top: 10px;
  font-size: 4rem;
  font-family: "Lucida Console", Monaco, monospace;
  letter-spacing: -0.3rem;
  font-weight: 700;
}
.header h2 {
  font-size: 1.5rem;
  font-family: "Source Sans Pro", sans-serif;
  text-align: center;
  padding: 0 10px;
}
@media (min-width: 700px) {
  .header h2 {
    font-size: 2rem;
  }
}
@media (min-width: 550px) {
  .header {
    margin-top: 50px;
    width: 500px;
    max-width: 600px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
  }
}
@media (min-width: 550px) and (min-width: 700px) {
  .header {
    width: 600px;
  }
}
nav {
  width: 100%;
  max-width: 600px;
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #191919;
}
nav .nav {
  cursor: pointer;
  font-size: 2rem;
  font-family: "Lucida Console", Monaco, monospace;
  text-align: center;
  width: 33%;
  background-color: #E8E8E8;
  padding: 10px 0;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
@media (min-width: 550px) {
  nav .nav {
    font-size: 2.5rem;
    font-weight: 600;
    width: 50px;
    height: 150px;
    margin: 10px 0 0;
    padding: 20px 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 0;
    display: flex;
    justify-content: flex-end;
    user-select: none;
    transition: width 0.25s ease-out;
  }
  nav .nav .rotate {
    text-align: center;
    writing-mode: vertical-lr;
  }
  nav .nav:hover {
    width: 75px;
    transition: width 0.25s ease-out;
  }
}
nav .active-link {
  cursor: pointer;
  font-size: 2rem;
  font-family: "Lucida Console", Monaco, monospace;
  text-align: center;
  width: 33%;
  background-color: #E8E8E8;
  padding: 10px 0;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
@media (min-width: 550px) {
  nav .active-link {
    font-size: 2.5rem;
    font-weight: 600;
    width: 75px;
    height: 150px;
    margin: 10px 0 0;
    padding: 20px 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 0;
    display: flex;
    justify-content: flex-end;
  }
  nav .active-link .rotate {
    text-align: center;
    writing-mode: vertical-lr;
  }
}
@media (min-width: 550px) {
  nav {
    border-top: none;
    flex-direction: column;
    justify-content: flex-start;
  }
}
main {
  font-family: "Source Sans Pro", sans-serif;
  position: static;
  margin: 20px 2%;
  flex: 1 0 auto;
}
@media (min-width: 550px) {
  main {
    margin: 0;
    position: absolute;
    width: 415px;
    top: 160px;
    left: 85px;
    padding-bottom: 100px;
  }
}
@media (min-width: 550px) and (min-width: 700px) {
  main {
    width: 515px;
  }
}
.about {
  background: #E8E8E8;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 25px;
  padding: 20px 5%;
}
.about img {
  width: 50%;
  height: auto;
  border-radius: 50%;
  margin: 20px 0;
}
.about table {
  margin: 20px 0;
  font-size: 1.6rem;
}
.about table th {
  font-weight: 600;
  padding: 5px;
}
.about table i {
  font-size: 2rem;
}
.about table tr {
  border-bottom: 1px solid #686868;
}
.about table tr:first-child,
.about table tr:last-child {
  border-bottom: none;
}
.about table tr td {
  padding: 5px;
  vertical-align: middle;
}
.about table tr td:first-child {
  text-align: center;
  border-right: 1px solid #686868;
}
.work {
  background: #E8E8E8;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 25px;
  padding: 20px 5%;
}
.work > p {
  margin: 10px 0;
}
.work .card-carousel {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.work .card-carousel .left-btn,
.work .card-carousel .right-btn {
  cursor: pointer;
  background: #191919;
  color: #E8E8E8;
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 3rem;
  border: 1px solid #191919;
  border-radius: 50%;
}
.work .card-carousel .left-btn:hover,
.work .card-carousel .right-btn:hover {
  background: #E8E8E8;
  color: #191919;
}
.work .card-carousel .left-btn {
  left: 5px;
}
.work .card-carousel .right-btn {
  right: 5px;
}
.work .card-carousel .cards {
  width: 90%;
}
.work .card-carousel .cards .card {
  width: 100%;
  overflow: hidden;
  border-radius: 20px;
  border: 1px solid #686868;
  display: none;
}
.work .card-carousel .cards .card h2 {
  margin: 10px;
}
.work .card-carousel .cards .card h3 {
  text-align: left;
  margin: 10px;
}
.work .card-carousel .cards .card p {
  text-align: left;
  margin: 10px 10px 20px;
}
.work .card-carousel .cards .card img {
  margin: 0 auto;
  width: 420px;
}
.work .card-carousel .cards .active-card {
  display: block;
}
.contact {
  background: #E8E8E8;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 25px;
  padding: 20px 5%;
}
.contact .social {
  width: 70%;
  font-size: 3rem;
  display: flex;
  justify-content: space-evenly;
  margin: 30px 0;
}
.contact form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.contact form input {
  width: 70%;
  height: 30px;
  border-radius: 5px;
  border: 1px solid #bababa;
  padding: 5px;
  font-family: "Source Sans Pro", sans-serif;
  margin-bottom: 10px;
}
.contact form input:focus {
  outline: 0;
  border: 1px solid #191919;
}
.contact form textarea {
  width: 70%;
  height: 60px;
  border-radius: 5px;
  border: 1px solid #bababa;
  padding: 5px;
  font-family: "Source Sans Pro", sans-serif;
  margin-bottom: 10px;
}
.contact form textarea:focus {
  outline: 0;
  border: 1px solid #191919;
}
.close {
  cursor: pointer;
  user-select: none;
  font-size: 2rem;
  position: absolute;
  right: 25px;
  top: 175px;
  color: #bababa;
  transition: color 0.25s ease;
}
.close:hover {
  color: #191919;
  transition: color 0.25s ease;
}
@media (min-width: 550px) {
  .close {
    right: 20px;
    top: 20px;
  }
}
.fa-html5:hover {
  color: #E34C26;
  transition: color 0.25s ease;
}
.fa-css3:hover {
  color: #2A4EE2;
  transition: color 0.25s ease;
}
.fa-sass:hover {
  color: #CE6499;
  transition: color 0.25s ease;
}
.fa-less:hover {
  color: #1d355C;
  transition: color 0.25s ease;
}
.fa-js:hover {
  color: #F6DE29;
  transition: color 0.25s ease;
}
.fa-react:hover {
  color: #61D9FA;
  transition: color 0.25s ease;
}
.fa-git:hover {
  color: #EF4F33;
  transition: color 0.25s ease;
}
.is-hidden {
  display: none;
}
footer {
  width: 100%;
  height: 100px;
  flex-shrink: 0;
  background: #E8E8E8;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
@media (min-width: 550px) {
  footer {
    flex-shrink: none;
    position: fixed;
    bottom: 0;
    right: 0;
    width: 300px;
    height: 50px;
    background: #191919;
    border-top-right-radius: 0;
    border-top-left-radius: 25px;
  }
}
footer p {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.8rem;
  margin: 5px;
}
@media (min-width: 550px) {
  footer p {
    color: #E8E8E8;
    font-size: 1.2rem;
  }
  footer p:first-child::after {
    content: '|';
    margin-left: 10px;
  }
}
@media (min-width: 550px) {
  footer .footer-text {
    display: flex;
    justify-content: center;
  }
}
footer .social {
  font-size: 3rem;
  display: flex;
  justify-content: space-evenly;
  margin: 10px;
}
@media (min-width: 550px) {
  footer .social {
    margin: 10px 0 0;
    justify-content: center;
  }
}
footer .social a {
  color: #191919;
  text-decoration: none;
  transition: color 0.25s ease;
}
@media (min-width: 550px) {
  footer .social a {
    color: #E8E8E8;
    font-size: 1.5rem;
    margin-right: 10px;
  }
}
.fa-github:hover {
  color: #6E5494;
  transition: color 0.25s ease;
}
.fa-linkedin:hover {
  color: #0077B5;
  transition: color 0.25s ease;
}
.fa-twitter:hover {
  color: #1DA1F2;
  transition: color 0.25s ease;
}
.fa-envelope:hover {
  color: #b10000;
  transition: color 0.25s ease;
}
