footer {
    width: 100%;
    height: 200px;
    background: @black;
    flex-shrink: 0;
}

.footer-content {
    padding-top: 30px;
    color: @white;
    display: flex;
    justify-content: space-between;

    .footer-left{
        padding: 0 5%;

        h3 {
            padding-top: 10px;
            font-family: @source;
            font-size: 2.5rem;
        }

        .logo {
            font-size: 2.5rem;
            font-family: @lucida;
        }

        .social-icons {
            padding-top: 10px;
            font-size: 2.5rem;
            display: flex;
            justify-content: space-between;
        }
    }

    .footer-right {
        padding: 0 5%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        p {
            width: 80px;
        }
    }
}

.copy {
    color: @darkgray;
    opacity: .5;
    text-align: center;
    margin-top: 40px;
}