main {
  font-family: @source;
  position: relative;
  margin: 0 2% 20px;
  top: 15px;
  flex: 1 0 auto;

  @media @tablet {
    margin: 0;
    position: absolute;
    width: 415px;
    top: 160px;
    left: 85px;
    padding-bottom: 100px;

    @media @desktop {
      width: 515px;
    }
  }
}

.about {
  background: @white;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 25px;
  padding: 20px 5%;

  picture {
    width: 100%;
    display: flex;
    justify-content: center;
    & > img {
      width: 50%;
      height: auto;
      border-radius: 50%;
      margin: 20px;
    }
  }

  .icons {
    display: flex;
    width: 90%;
    flex-wrap: wrap;
    margin: 20px 0;
    justify-content: space-around;
    align-items: center;
    i,
    span {
      font-size: 4rem;
      margin: 10px;
    }

    img {
      border-radius: 0;
      width: 40px;
    }
  }
}

.work {
  background: @white;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 25px;
  padding: 20px 5%;

  > p {
    margin: 10px 0;
  }

  .card-carousel {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-around;

    .left-btn,
    .right-btn {
      cursor: pointer;
      background: @black;
      color: @white;
      height: 40px;
      width: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      font-size: 3rem;
      border: 1px solid @black;
      border-radius: 50%;

      &:hover {
        background: @white;
        color: @black;
      }
    }

    .left-btn {
      left: 5px;
    }

    .right-btn {
      right: 5px;
    }

    .cards {
      width: 90%;

      .card {
        width: 100%;
        overflow: hidden;
        border-radius: 20px;
        border: 1px solid @darkgray;
        display: none;
        height: 600px;

        .card-wrapper {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          height: 100%;
          .tech-used {
            display: flex;
            align-items: center;

            & > div {
              display: flex;
              justify-content: space-between;
              align-items: center;

              i {
                font-size: 2.5rem;
              }
              img {
                width: 25px;
              }
            }

            h3 {
              text-align: left;
              margin: 10px;
            }
          }

          h2 {
            margin: 10px;
          }

          p {
            height: 75px;
            text-align: left;
            margin: 10px 10px 10px;
          }

          .vid-wrapper {
            height: 50%;
            overflow: hidden;
            border-bottom: 1px solid @darkgray;
            width: 100%;
            video {
              margin: 0 auto;
              object-fit: cover;
            }
          }
          & > a {
            font-size: 2rem;
            margin: 0 10px 20px;
            text-align: center;
          }
        }
      }

      .active-card {
        display: block;
      }
    }
  }
}

.contact {
  background: @white;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 25px;
  padding: 20px 5%;

  .social {
    width: 70%;
    font-size: 3rem;
    display: flex;
    justify-content: space-evenly;
    margin: 30px 0;
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    input {
      width: 70%;
      height: 30px;
      border-radius: 5px;
      border: 1px solid @gray;
      padding: 5px;
      font-family: @source;
      margin-bottom: 10px;

      &:focus {
        outline: 0;
        border: 1px solid @black;
      }
    }

    textarea {
      width: 70%;
      height: 60px;
      border-radius: 5px;
      border: 1px solid @gray;
      padding: 5px;
      font-family: @source;
      margin-bottom: 10px;

      &:focus {
        outline: 0;
        border: 1px solid @black;
      }
    }
  }
}

.close {
  cursor: pointer;
  user-select: none;
  font-size: 2rem;
  position: absolute;
  right: 25px;
  top: 20px;
  color: @gray;
  transition: color 0.25s ease;

  &:hover {
    color: @black;
    transition: color 0.25s ease;
  }

  @media @tablet {
    right: 20px;
    top: 20px;
  }
}

.fa-html5:hover {
  color: #e34c26;
  transition: color 0.25s ease;
}

.fa-css3:hover {
  color: #2a4ee2;
  transition: color 0.25s ease;
}

.fa-sass:hover {
  color: #ce6499;
  transition: color 0.25s ease;
}

.fa-less:hover {
  color: #1d355c;
  transition: color 0.25s ease;
}

.fa-js:hover {
  color: #f6de29;
  transition: color 0.25s ease;
}

.fa-react:hover {
  color: #61d9fa;
  transition: color 0.25s ease;
}

.fa-git:hover {
  color: #ef4f33;
  transition: color 0.25s ease;
}

.is-hidden {
  display: none;
}
