main {
    font-family: @source;
    position: static;
    margin: 20px 2%;
    flex: 1 0 auto;
    
    @media @tablet {
        margin: 0;
        position: absolute;
        width: 415px;
        top: 160px;
        left: 85px;
        padding-bottom: 100px;

        @media @desktop {
            width: 515px;
        }
    }
}

.about {
    background: @white;
    display: none;
    opacity: 0;
    transition: opacity .25s ease;
    flex-direction: column;
    align-items: center;
    border-radius: 25px;
    padding: 20px 5%;

    img {
        width: 50%;
        height: auto;
        border-radius: 50%;
        margin: 20px 0;
    }

    button {
        background: @black;
        color: @white;
        border: 1px solid @black;
        border-radius: 5px;
        padding: 5px 10px;
        font-size: 1.6rem;
        margin: 20px;
    }

    table {
        margin: 20px 0;
        font-size: 1.6rem;

        th {
            font-weight: 600;
            padding: 5px;
        }

        i {
            font-size: 2rem;

            
        }

        tr {
            border-bottom: 1px solid @darkgray;

            &:first-child, &:last-child {
                border-bottom: none;
            }

            td {
                padding: 5px;
                vertical-align: middle;
            
                &:first-child {
                    text-align: center;
                    border-right: 1px solid @darkgray;
                }
            }
        }

        
    }
}

.work {
    background: @white;
    display: none;
    flex-direction: column;
    align-items: center;
    border-radius: 25px;
    padding: 20px 5%;

    > p {
        margin: 10px 0;
    }

    button {
        height: auto;
        background: @black;
        color: @white;
        border: 1px solid @black;
        border-radius: 5px;
        padding: 5px 10px;
        font-size: 1.6rem;
        margin: 20px;
    }

    .cards{
        width: 90%;

        .card {
            width: 100%;
            overflow: hidden;
            border-radius: 20px;
            border: 1px solid @darkgray;
            display: none;
    
            h2 {
                margin: 10px;
            }
    
            h3 {
                text-align: left;
                margin: 10px;
            }
    
            p {
                text-align: left;
                margin: 10px 10px 20px;
            }
    
            img {
                margin: 0 auto;
                width: 420px;
            }
        }
    
        .active-card {
            display: block;
        }
    }

    
}

.contact {
    background: @white;
    display: none;
    flex-direction: column;
    align-items: center;
    border-radius: 25px;
    padding: 20px 5%;
}

.close {
    cursor: pointer;
    user-select: none;
    font-size: 2rem;
    position: absolute;
    right: 25px;
    top: 175px;
    color: @gray;
    transition: color .25s ease;

    &:hover {
        color: @black;
        transition: color .25s ease;
    }

    @media @tablet {
        right: 20px;
        top: 20px;
    }
}

.fa-html5:hover {
    color: #E34C26;
    transition: color .25s ease;
}

.fa-css3:hover {
    color: #2A4EE2;
    transition: color .25s ease;
}

.fa-sass:hover {
    color: #CE6499;
    transition: color .25s ease;
}

.fa-less:hover {
    color: #1d355C;
    transition: color .25s ease;
}

.fa-js:hover {
    color: #F6DE29;
    transition: color .25s ease;
}

.fa-react:hover {
    color: #61D9FA;
    transition: color .25s ease;
}

.active {
    display: flex;
    opacity: 1;
    transition: opacity .25s ease;
}