.container {
    min-height: 100%;
}

main {
    width: 100%;
    margin: 0 auto;
    max-width: 1024px;
    overflow: auto;
    padding-bottom: 200px;
    h2 {
        width: 20rem;
        font-size: 2.5rem;
        font-family: @lucida;
        margin: 10px 0;
        padding: 10px;
        text-align: center;
        .pixel-border(@black, 5px);
    }

    h3 {
        font-size: 2rem;
        font-family: @lucida;
    }

    p{
        font-size: 1.6rem;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }

    ul {
        font-size: 1.6rem;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }

    .box {
        width:95%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}