header {
    width: 100%;
    height: 100px;
    background: @black;
    position: absolute;
    @media @tablet {
        height: 350px;
    }
}

.header {
    position: relative;
    z-index: 1;
    width: 100%;
    max-width: 1024px;
    height: 245px;
    margin: 0 auto;
    background: linear-gradient(-45deg, @red, @orange, @yellow, @lightgreen, @lightblue, @lightindigo, @violet), url("../img/code-bg.jpg");
    background-size: 1000% 1000%, cover;
    background-blend-mode: color-burn, normal;
    animation: header-iridescence 60s ease infinite;
    .title {
        display: block;
        float: left;
        font-size: 2em;
        padding: 10px 0 10px 10px;
        margin-top: 15px;
        margin-right: 0;
        h1 {
            font-family: @lucida;
            font-size: 2.85rem;
            font-weight: bold;
            color: @white;
            overflow: hidden;
            border-right: 1.5rem solid @white;
            white-space: nowrap;
            animation: typing 1150ms steps(20, end) 1s 1 normal both,
            blink 7.25s step-end infinite;
            @media @tablet {
                font-size: 4rem;
                border-right: 2.3rem solid @white;
            }
        }

        @media @desktop {
            width: 20%;
        }
    }

    // menu
    .menu {
        clear: both;
        max-height: 0;
        transition: max-height .2s ease-out;
        position: absolute;
        z-index: 2;
        width: 100%;
        margin-top: 65px;
        padding: 0;
        overflow: hidden;
        li {
            a {
                display: block;
                text-decoration: none;
                padding: 5px 10px;
                margin: 5px 3rem 0;
                font-family: @lucida;
                font-size: 1.5rem;
                font-weight: bold;
                text-decoration: none;
                text-align: center;
                color: @white;
                background: @black;
                .pixel-border(@white, 5px);
                &:hover {
                    background: @white;
                    color: @black;
                    transition: color .2s linear;
                }
                @media @tablet {
                    width: 15rem;
                    padding: 20px 0;
                    margin: 30px 0;
                }

                @media @desktop {
                    width: 12rem;
                    margin-right: 30px;
                    margin-top: 45px;
                    padding: 15px;
                }
            }
        }
        
        @media @tablet {
            display: flex;
            justify-content: space-around;
            position: static;
            margin: 0 auto;
        }

        @media @desktop {
            justify-content: flex-end;
            width: 75%;
            margin: 0;
        }
    }
    // menu icon
    .menu-icon {
        cursor: pointer;
        float: right;
        padding: 28px 40px;
        margin-top: 7px;
        position: relative;
        user-select: none;
        .navicon {
            background: @white;
            display: block;
            height: 2px;
            width: 18px;
            position: relative;
            transition: background .2s ease-out;
            &:before, &:after {
                background: @white;
                content: '';
                display: block;
                height: 100%;
                position: absolute;
                transition: all .2s ease-out;
                width: 100%;
            }
            &:before {
                top: 5px;
            }
            &:after {
                top: -5px;
            }
        }
    }
    // menu btn
    .menu-btn {
        display: none;

        &:checked {
            ~ .menu {
                z-index: 10;
                max-height: 240px;
            }

            ~ .greeting {
                visibility: hidden;
                opacity: 0;
                transition: visibility 0s, opacity 0.5s linear;
            }

            ~ .menu-icon {
                .navicon {
                    background: transparent;
                    &:before {
                        transform: rotate(-45deg);
                    }
                    &:after {
                        transform: rotate(45deg);
                    }
                }
                &:not(.steps) {
                    .navicon {
                        &:before, &:after {
                            top: 0;
                        }
                    }
                }
            }
        }
    }

    @media @tablet {
        position: static;
        height: 350px;
        display: flex;
        flex-direction: column;
        align-items: center;
    
        .menu {
            clear: none;
            float: right;
            max-height: none;
        }
    
        .menu-icon {
            display: none;
        }
    }

    @media @desktop {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        align-content: baseline;
        flex-wrap: wrap;
    }

    .greeting {
        position: absolute;
        top: 80px;
        width: 100%;
        text-align: center;

        h2 {
            font-family: @lucida;
            font-size: 3rem;
            color: @white;
            margin: 20px 0;
        }

        p {
            font-family: @lucida;
            font-size: 2rem;
            color: @white;
            margin: 20px 0;
        }

        @media @tablet {
            position: static;
        }

        @media @desktop {
            margin-top: 40px;
        }
    }
}