@tablet: ~"(min-width: 550px)";
@desktop: ~"(min-width: 700px)";

// colors
@red: #b10000;
@orange: #E89A12;
@yellow: #DDCF00;
@green: #2A6F1A;
@blue: #17337a;
@indigo: #3f0275;
@violet: #BD48DB;
@white: #E8E8E8;
@black: #191919;
@gray: #bababa;
@darkgray: #686868;

// fonts
@lucida: "Lucida Console", Monaco, monospace;
@source: "Source Sans Pro", sans-serif;
