@tablet: ~"(min-width: 675px)";
@desktop: ~"(min-width: 895px)";

// colors
@red: #AD2918;
@orange: #E89A12;
@yellow: #DDCF00;
@green: #2A6F1A;
@blue: #1644BB;
@indigo: #461174;
@violet: #BD48DB;
@white: #E8E8E8;
@black: #191919;
@gray: #bababa;
@darkgray: #686868;

// fonts
@lucida: "Lucida Console", Monaco, monospace;
@source: "Source Sans Pro", sans-serif;
